#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

.floor-plan-container {
  display: flex;
  flex-wrap: wrap;
  width: 100vh;
}

.bedroom {
  background-color: rgb(25, 91, 135);
}

.bath {
  background-color: rgb(76, 124, 64);
}

.container-1 {
  width: 40vh;
}

#bedroom-1, #bedroom-2, #bedroom-3, #half-bath, #full-bath, #oven, #kitchen, #sink, .living-room {
  display: flex;
  justify-content: center;
  align-items: center;
}

#sink, #oven, #bedroom-3, #kitchen, #half-bath {
  position: absolute;
}

#bedroom-1 {
  height: 40vh;
}

#full-bath {
  height: 20vh;
}

#bedroom-2 {
  height: 40vh;
}

.living-room {
  background-color: tan;
  height: 60vh;
  width: 40vh;
}

#half-bath {
  height: 40vh;  
  width: 20vh;
}

#bedroom-3 {
  height: 40vh;  
  width: 40vh;
  margin-left: 20vh;
}

#kitchen {
  margin-top: 5vh;
  height: calc(60vh - 5vh);
  width: 20vh;
  background-color: rgb(226, 151, 13);
}

#oven {
  background-color: rgb(181, 68, 37);
  width: 10vh;
  height: 5vh;
}

#sink {
  margin-left: 10vh;
  background-color: rgba(162, 89, 29, 0.531);
  width: 10vh;
  height: 5vh;
}
