#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

.floor-plan-container {
  display: flex;
  flex-wrap: wrap;
}

.bedroom {
  background-color: rgb(25, 91, 135);
}

.bath {
  background-color: rgb(76, 124, 64);
}

.container-1 {
  width: 40vh;
}

#bedroom-1 {
  height: 40vh;
}

#full-bath {
  height: 20vh;
}

#bedroom-2 {
  height: 40vh;
}

.living-room {
  background-color: tan;
  height: 60vh;
  width: 40vh;
}

#half-bath {
  position: absolute;
  height: 40vh;  
  width: 20vh;

}

#bedroom-3 {
  position: absolute;
  display: inline-block;
  height: 40vh;  
  width: 40vh;
}

.kitchen {
  background-color: rgb(226, 151, 13);
  width: 20vh;
}

#kitchen {
  height: calc(60vh - 5vh);
}

.oven {
  position: relative;
  background-color: brown;
  width: 10vh;
  display: inline-block;
  height: 5vh;

}

.sink {
  position: relative;
  background-color: rgba(74, 43, 17, 0.444);
  width: 10vh;
  display: inline-block;
  height: 5vh;
}
